/cortex-m3/
/cortex-m3-ram/
/cortex-m3-flash/
/cortex-a72-ram/
/cortex-a72-ram-release/
/cortex-a72-ram-debug/
/cortex-a15-ram-debug/
/cortex-a15-ram-release/
/cortex-m3-ram-debug/
/cortex-m3-flash-debug/
/cortex-m3-flash-release/
.settings/language.settings.xml
.settings/org.eclipse.embedcdt.managedbuild.cross.arm.core.prefs
